.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    animation: fadeOutLogo 10s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }
  
  .loading-image {
    width: 300px;
    animation: fadeOutLogo 6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    70% {
      opacity: 0.9;
    }
    72% {
      opacity: 0.5;
    }
    80% {
      opacity: 0.25;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeOutLogo {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  